.slider {
    margin-bottom: 88px;
}

.slider__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    text-align: left;
}

.slider__title_span {
    color: #04488F;
}

.slider-buttons__list {
    margin-top: 37px;
    padding: 0;
    width: 100%;

    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider__buttons-item {

}

.slider__button {
    width: 274px;
    /*padding: 23px 36px;*/
    padding-top: 23px;
    padding-bottom: 23px;

    background-color: #A3B1D7;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 6px;

    cursor: pointer;
    transition: all .3s ease-in;
}

.slider__button:hover {
    box-shadow: 5px 17px 33px -8px rgba(4, 72, 143, 0.16);
}

.slider__button:active {
    background-color: #04488F;
}

.slider__button:focus {
    background-color: #04488F;
}

.slider__button_active {
    background-color: #04488F;
}

/*SWIPER*/
.swiper {
    margin-top: 117px;
    /*min-width: 100vw;*/
    /*width: max-content;*/
    width: 899px;
}

.swiper-mini {
    display: none;
}

.swiper__wrapper {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: row;

    list-style-type: none;
}

.swiper-slide {
    /*padding: 56px 46px;*/
    padding: 0;
    /*margin-right: 16px;*/
    position: relative;
    max-width: 894px;
    min-height: 496px;

    background-color: #04488F;
    border-radius: 6px;
    cursor: all-scroll;

    flex-shrink: 0;
    box-sizing: border-box;
}

.swiper-slide:nth-child(2n) {
    background-color: #222222;
}

.swiper-text__wrapper {
    margin-top: 46px;
    margin-left: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.swiper__title {
    margin: 0 0 14px;
    padding: 0;

    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
}

.swiper__text {
    margin: 0;
    padding: 0;
    max-width: 35%;

    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.swiper__image {
    position: absolute;
    /*max-width: 532px;*/
}

.swiper-scrollbar {
    display: block;
    margin: 30px auto;
    height: 2px;
    max-width: 996px;

    background-color: rgba(4, 72, 143, 0.22);
}

.swiper-scrollbar-drag {
    /*display: block;*/
    background-color: #04488F;
    height: 4px;
    /*width: 249px;*/

    cursor: pointer;
    border-radius: 4px;
}


/*ID*/
#oneSlide img {
    top: -112px;
    right: -2px;
}

#rgbSlide img {
    top: 32px;
    right: -41px;
}

#fanSlide img {
    top: -49px;
    right: -64px;
}

#monitoringSlide img {
    top: -67px;
    right: -138px;
}

/*MEDIA*/

@media (max-width: 1780px) {
    .swiper {
        width: 1300px;
    }
}

@media (max-width: 1300px) {
    .swiper__wrapper {
        align-items: flex-start;
        /*min-width: 100%;*/
        /*max-width: 100%;*/
    }

    .slider__button {
        width: 215px;
    }

    .swiper {
        width: 1100px;
    }

    .swiper__wrapper {
        /*width: 894px;*/
        /*max-height: 496px;*/
    }

    .slider__button {
        font-size: 16px;
        line-height: 19px;
    }

    .slider__title {
        font-size: 32px;
        line-height: 46px;
    }

    .swiper-text__wrapper {
        margin-top: 48px;
        margin-left: 49px;
    }

    .swiper__title {
        margin-bottom: 57px;
        max-width: 331px;

        font-size: 32px;
        line-height: 46px;
    }

    .swiper__text {
        font-size: 12px;
        line-height: 17px;
    }

    /*SLIDES*/
    #fanSlide, #monitoringSlide, #oneSlide, #rgbSlide {
        min-width: 714px;
        max-width: 714px;
        min-height: 400px;
        max-height: 400px;
    }

    #oneSlide img {
        right: -73px;
        top: -113px;
        width: 422px;
    }

    #fanSlide img {
        top: -57px;
        right: -66px;
        width: 598px;
    }

    #rgbSlide img {
        right: -44px;
        top: 50px;
        width: 580px;
    }

    #monitoringSlide img {
        right: -194px;
        top: -83px;
        width: 866px;
    }
}

@media (max-width: 991px) {
    .swiper-scrollbar {
        /*display: block;*/
        height: 2px;
    }

    .swiper-scrollbar-drag {
        /*display: block;*/
        height: 4px !important;
    }
}

@media (max-width: 990px) {
    .slider {
        margin-bottom: 49px;
    }

    .swiper {
        display: none;
    }

    .swiper-mini {
        display: block;
    }

    .swiper-scrollbar {
        display: none;
    }

    .swiper-scrollbar-drag {
        display: none;
    }

    .swiper__wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .swiper-slide {
        position: relative;

        margin-bottom: 24px;

        width: 100%;
        min-height: 400px;
        max-height: 400px;

        cursor: auto;
    }

    .swiper-slide:last-child {
        margin-bottom: 0;
    }

    .slider__title {
        margin-bottom: 80px;
    }

    .slider-buttons__list {
        display: none;
    }

    .swiper__title {
        margin-bottom: 50px;
    }

    .swiper__image {
        position: absolute;
    }

    #slide-1-mini {
        top: -93px;
        max-width: 416px;
        right: -99px;
    }

    #slide-2-mini {
        width: 538px;
        top: 73px;
        right: -57px;
    }

    #slide-3-mini {
        max-width: 500px;
        top: -1px;
        right: -48px;
    }

    #slide-4-mini {
        max-width: 845px;
        top: -82px;
        right: -272px;
    }
}

@media (max-width: 739px) {
    .swiper-mini {
        position: relative;
    }

    .slider__title {
        margin-bottom: 34px;

        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }

    .swiper__wrapper {
        width: 100%;
        /*margin-left: -64px;*/
    }

    .swiper__title {
        margin-bottom: 22px;
    }

    .swiper-slide {
        margin-bottom: 0;

        border-radius: 0;
    }

    #fanSlide-mini {
        background-color: transparent;
    }

    #fanSlide-mini h4 {
        color: #222222;
    }

    #fanSlide-mini p {
        color: #53575A;
    }
}

@media (max-width: 739px) {
    .slider {
        margin-bottom: 36px;
        /*width: 700px;*/
    }

    /*.swiper-slide {*/
    /*    width: 100%;*/
    /*}*/

    .swiper-mini__wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 439px;
        height: 100%;

        display: flex;
        align-items: center;
    }

    .swiper-text__wrapper {
        margin-left: 0;
    }

    .swiper__title {
        margin-bottom: 65px;

        font-size: 24px;
        line-height: 35px;
    }

    .swiper__text {
        max-width: 224px;

        font-size: 12px;
        line-height: 17px;
    }

    #slide-1-mini {
        max-width: 340px;
        right: -131px;
        top: 1px;
    }

    #slide-2-mini {
        right: -247px;
        top: 49px;
        width: 561px;
    }

    #slide-3-mini {
        max-width: 500px;
        right: -187px;
        top: 17px;
    }

    #slide-4-mini {
        max-width: 710px;
        right: -253px;
        top: 0;
    }
}

@media (max-width: 468px) {
    .swiper-slide {
        width: 100%;
    }

    .swiper-mini__wrapper {
        margin: 0;
        width: 100%;
        max-width: 100%;
        justify-content: center;
    }

    .slider__title {
        margin-bottom: 43px;

        font-size: 18px;
        line-height: 26px;
    }

    .swiper__title {
        margin-bottom: 266px;

        font-size: 18px;
        line-height: 26px;
    }

    .swiper__text {
        max-width: 260px;

        font-size: 12px;
        line-height: 17px;

        z-index: 5;
    }

    .swiper-text__wrapper {
        /*margin-left: 80px;*/
        margin-top: 38px;
    }

    #oneSlide-mini {
        min-height: 485px;
        max-height: 485px;
    }

    #slide-1-mini {
        max-width: 237px;
        left: 151px;
        top: 62px;
    }

    #rgbSlide-mini {
        min-height: 485px;
        max-height: 485px;
    }

    #slide-2-mini {
        max-width: 437px;
        right: 15px;
        top: 49px;
    }

    #fanSlide-mini {
        min-height: 485px;
        max-height: 485px;
    }

    #slide-3-mini {
        max-width: 330px;
        right: 58px;
        top: 60px;
    }

    #monitoringSlide-mini {
        min-height: 485px;
        max-height: 485px;
    }

    #slide-4-mini {
        max-width: 529px;
        right: -87px;
        top: 21px;
    }
}

@media (max-width: 421px) {
    #slide-1-mini {
        left: 141px;
    }
    #slide-2-mini {
        right: -4px;
    }
    #slide-3-mini {
        right: 38px;
    }
    #slide-4-mini {
        right: -108px;
    }
}

@media (max-width: 361px) {
    #slide-1-mini {
        left: 111px;
    }
    #slide-2-mini {
        right: -33px;
    }
    #slide-3-mini {
        right: 8px;
    }
    #slide-4-mini {
        right: -137px;
    }
}
