.slider {

}

.slider__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    text-align: left;
}

.slider__title_span {
    color: #04488F;
}

.slider-buttons__list {
    margin-top: 37px;
    padding: 0;
    width: 100%;

    list-style-type: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.slider__buttons-item {

}

.slider__button {
    padding: 23px 36px;

    background-color: #A3B1D7;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: none;
    border-radius: 6px;
}

.slider__button:hover {
    box-shadow: 5px 17px 33px -8px rgba(4, 72, 143, 0.16);
}

.slider__button:active {
    background-color: #04488F;
}

/*SWIPER*/
.swiper {
    margin-top: 117px;
    width: 100vw;
}

.swiper__wrapper {
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: row;

    list-style-type: none;
}

.swiper-slide {
    padding: 56px 46px;
    margin-right: 16px;
    position: relative;
    width: 894px;
    min-height: 496px;

    background-color: #04488F;
    border-radius: 6px;

    flex-shrink: 0;
    box-sizing: border-box;
}

.swiper-slide:nth-child(2n) {
    background-color: #222222;
}

.swiper-text__wrapper {
    max-width: 40%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.swiper__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
}

.swiper__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.swiper__image {
    position: absolute;
    max-width: 532px;
}

.swiper-scrollbar {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 3px;
    background-color: rgba(4, 72, 143, 0.22);
    cursor: pointer;
}

.swiper-scrollbar-drag {
    background-color: #04488F;
}

/*MEDIA*/
@media (max-width: 1300px){
    .slider__button {
        font-size: 16px;
        line-height: 19px;
    }

    .slider__title {
        font-size: 32px;
        line-height: 46px;
    }
}

@media (max-width: 990px) {
    .slider-buttons__list {
        display: none;
    }
}

@media (max-width: 699px) {

}

@media (max-width: 468px) {
    .slider__title {
        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }
}
