.info {
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;

    background: url('../../images/img/Rectangle-big-gray.svg') no-repeat top center;
}

.info__wrapper {
    padding-left: 18.75%;
    /*padding-right: 17.3%;*/
    /*padding-bottom: 463px;*/
}

.info-banner {
    position: relative;

    margin: 75px 21% 75px 10.2%;
    width: 100%;
    min-height: 714px;

    background-size: 1316px 714px;
    background: url('../../images/img/Rectangle 354.svg') no-repeat top left;
}

.info-banner__flex {
    padding-top: 92px;
    padding-left: 163px;
    max-width: 387px;
    /*max-height: 714px;*/

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-banner__title {
    margin: 0 0 50px;
    padding: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #fff;
}

.info-banner__text {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.info-banner__icon {
    padding: 0;
    margin-top: 63px;
    margin-bottom: 22px;
}

.info-banner__image {
    position: absolute;
    top: 61px;
    right: 438px;
}

@media (max-width: 1830px) {
    .info-banner {
        max-width: 1482px;
        min-height: 714px;
    }

    .info-banner__image {
        right: -11px;
        top: 69px;
    }
}

@media (max-width: 1599px) {
    .info-banner {
        margin-left: 20px;
    }
}

@media (max-width: 1780px) {
    .info__wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1300px) {
    .info {
        background: url('../../images/img/Rectangle-mid-gray.svg') no-repeat top center;
        background-size: 100%;
    }
}

@media (max-width: 1370px) {
    .info-banner {
        margin-left: 10px;
        width: 960px;
        height: 521px;

        background: url('../../images/img/Rectangle 356.svg') no-repeat top center;
    }

    .info-banner__flex {
        padding-top: 62px;
        padding-left: 37px;
    }

    .info-banner__title {
        margin-bottom: 56px;

        font-size: 32px;
        line-height: 46px;
    }

    .info-banner__text {
        font-size: 12px;
        line-height: 17px;
    }

    .info-banner__icon {
        margin-top: 29px;
        margin-bottom: 12px;
    }

    .info-banner__image {
        right: -44px;
        top: 68px;
        max-width: 615px;
    }
}

@media (max-width: 990px) {
    .info__wrapper {
        padding-left: 64px;
        padding-right: 64px;
    }

    .info-banner {
        margin-bottom: 48px;
        margin-top: 40px;
        margin-left: 60px;

        width: 643px;
        min-height: 759px;
        max-height: 759px;

        background: url('../../images/img/Rectangle 355.svg') no-repeat;
        background-size: 643px 759px;
    }

    .info-banner__flex {
        padding-top: 320px;
        padding-left: 31px;
    }

    .info-banner__image {
        right: -26px;
        top: 2px;
    }

    .info-banner__title {
        z-index: 3;
    }
    .info-banner__text {
        z-index: 3;
    }
}

@media (max-width: 768px) {
    .info {
        position: relative;
        background: none;
        max-width: 100%;
    }

    .info__wrapper {
        padding: 0;
    }

    .info-banner {
        margin-left: 0;
    }
}

@media (max-width: 739px) {
    .info {
        position: absolute;
        left: 0;
        right: 0;
    }

    .info__wrapper {
        margin-top: 40px;
    }

    .info-banner {
        margin-right: 0;
        width: 100%;
        min-height: 774px;
        max-height: 774px;

        background: #222222 100%;
    }

    .info-banner__image {
        max-width: 452px;
        right: 13px;
        top: 2px;
    }

    .info-banner__flex {
        padding-left: 20px;
    }

    .info-banner__title {
        margin-bottom: 66px;

        font-size: 24px;
        line-height: 35px;
    }

    .info-banner__text {
        font-size: 12px;
        line-height: 17px;
    }

    .info-banner__icon {
        margin-bottom: 9px;
    }
}

@media (max-width: 468px) {
    .info__wrapper {
        margin-top: 34px;
    }

    .info-banner {
        margin-top: 36px;
        margin-bottom: 36px;
        min-height: 672px;
        max-height: 672px;
    }

    .info-banner__image {
        max-width: 325px;
        right: -7px;
        top: 20px;
    }

    .info-banner__flex {
        padding-top: 255px;
        padding-left: 11px;
    }

    .info-banner__title {
        margin-bottom: 23px;

        font-size: 18px;
        line-height: 26px;
    }

    .info-banner__text {
        max-width: 300px;

        font-size: 12px;
        line-height: 17px;
    }
}
