.intro {
    margin-top: 101px;
    /*width: 100%;*/
    margin-bottom: 269px;

    display: flex;
    flex-direction: column;
}

.intro-text__wrapper {
    max-width: 593px;

    display: flex;
    flex-direction: column;
}

.intro__title {
    margin: 0 0 25px;
    padding: 0;

    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    text-align: left;
    color: #04488f;
}

.intro__subtitle {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #04488f;
    text-transform: uppercase;
}

.intro__text {
    margin: 0 0 85px;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}

.intro__image {
    position: absolute;
    right: 0;
    top: 138px;
}

.intro-button__wrapper {
    /*margin-top: 85px;*/
    /*width: 100%;*/

    display: flex;
    flex-direction: row;
    align-items: center;

    z-index: 3;
}

.intro__button_btn {
    margin: 0;
    padding: 23px 36px;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #04488f;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.intro__button_link {
    margin-left: 17px;
    padding: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;

    text-transform: none;
    text-decoration-line: none;
    color: #04488F;
    cursor: pointer;
}

.intro__button-icon {
    margin-right: 13px;
}

/*Effects*/
.intro__button_btn:hover {
    box-shadow: 5px 17px 33px -8px rgba(4, 72, 143, 0.16);
}

.intro__button_btn:active {
    box-shadow: 0px 11px 27px 0px rgba(0, 43, 88, 0.82) inset;
}

/*MEDIA*/
@media (max-width: 1890px) {
    .intro__image {
        right: -5%;
    }
}

@media (max-width: 1780px) {
    .intro__image {
        top: 181px;
        right: -258px;
    }
}

@media (max-width: 1300px) {
    .intro {
        margin-bottom: 243px;
        margin-top: 117px;
    }

    .intro__title {
        margin-top: 8px;
        margin-bottom: 10px;

        font-size: 64px;
        line-height: 78px;
    }

    .intro__subtitle {
        font-size: 36px;
        line-height: 44px;
    }

    .intro__text {
        font-size: 12px;
        line-height: 17px;
    }

    .intro__image {
        max-width: 975px;
    }

    .intro__button_btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .intro__button_link {
        /*margin: 0;*/

        font-size: 16px;
        line-height: 19px;
    }

    .intro-text__wrapper {
        max-width: 527px;
    }
}

@media (max-width: 990px) {
    .intro__image {
        max-width: 960px;

        top: 379px;
        right: -130px;
    }

    .intro {
        margin: 68px auto 53px;
        min-height: 851px;

        justify-content: space-between;
        align-items: center;
    }

    .intro__title {
        text-align: center;
    }

    .intro__subtitle {
        text-align: center;
    }

    .intro__text {
        text-align: center;
    }

    .intro-button__wrapper {
        margin-top: 0;

        flex-direction: column;
    }

    .intro__button_btn {
        margin-bottom: 22px;
    }

    .intro__button_link {
        margin: 0;
    }
}

@media (max-width: 699px) {
    .intro {
        margin-bottom: 58px;
    }

    .intro__subtitle {
        font-size: 30px;
        line-height: 37px;
    }

    .intro__title {
        margin-top: 0;
        margin-bottom: 26px;

        font-size: 48px;
        line-height: 58px;
    }

    .intro__image {
        max-width: 855px;

        right: -199px;
        top: 425px;
    }
}

@media (max-width: 468px) {
    .intro {
        margin-top: 30px;
        margin-bottom: 36px;

        min-height: 749px;
    }

    .intro__subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .intro__title {
        margin-top: 8px;
        margin-bottom: 11px;

        font-size: 32px;
        line-height: 39px;
    }

    .intro__image {
        max-width: 605px;

        right: -152px;
        top: 373px;
    }

    .intro__button_btn {
        margin-bottom: 14px;

        font-size: 14px;
        line-height: 17px;
    }

    .intro__button_link {
        margin: 0;
        padding: 0;

        font-size: 14px;
        line-height: 17px;
    }
}
