.header {
    margin: 0 auto;
    max-width: 1199px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.header__logo {
    width: 100px;
    height: 20px;

    align-self: flex-start;

    transition: opacity .3s ease-in;
}

.header__logo:active {
    opacity: 0.8%;
}

.header__text {
    margin: 0;
    padding: 0;
    max-width: 326px;

    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.3px;
    text-align: right;
}

/*@media (max-width: 1780px) and (min-width: 1300px) {*/
/*    .header {*/
/*        !*margin-left: 20px;*!*/
/*        !*margin-right: 20px;*!*/
/*        max-width: 100%;*/
/*    }*/
/*}*/

@media (max-width: 1300px) {
    .header {
        max-width: 960px;
    }

    .header__text {
        font-size: 12px;
        line-height: 17px;
    }

    .footer__copyright {
        font-size: 16px;
        line-height: 19px;
    }

    .footer__term {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 1300px) and (min-width: 990px) {
    .header__text {
        max-width: 217px;
    }
}

@media (max-width: 990px) {
    .header {
        max-width: 640px;
    }

    .header__text {
        color: #222222;
        max-width: 326px;
    }
}

@media (max-width: 739px) {
    .header {
        max-width: 439px;
    }

    .header__text {
        max-width: 210px;
        color: #222222;
    }
}

@media (max-width: 468px) {
    .header {
        max-width: 300px;
    }

    .header__text {
        max-width: 145px;

        font-size: 10px;
        line-height: 10px;
    }
}
