.page-wrapper {
    /*padding-left: 18.75%;*/
    /*padding-right: 18.75%;*/
    padding-top: 50px;
    /*margin: 0;*/
    margin-right: 0;

    background: url('../../images/img/1922-back.svg') no-repeat right top;
    background-size: 100%;

    /*transition: all .3s ease-in;*/
}

.page-wrapper__main {
    margin: 0 auto;
    max-width: 1199px;
}

@media (min-width: 1980px) {
    .page-wrapper {
        background: url('../../images/img/min1920.svg') no-repeat right top;
    }
}

@media (max-width: 1300px) {
    .page-wrapper__main {
        max-width: 960px;
    }
}

@media (max-width: 1300px) {
    .page-wrapper {
        background: url('../../images/img/1700-back.svg') no-repeat right top;
    }
}

@media (max-width: 990px) {
    .page-wrapper {
        background: url('../../images/img/768-back.svg') no-repeat top right;
    }

    .page-wrapper__main {
        max-width: 640px;
    }
}

@media (max-width: 739px) {
    .page-wrapper__main {
        margin: 0 0 41px;
        max-width: 100%;
    }
}

@media (max-width: 699px) {
    .page-wrapper {
        background: url('../../images/img/699-back.svg') no-repeat top right ;
    }


}

@media (max-width: 468px) {
    .page-wrapper {
        background: url('../../images/img/320-back.svg') no-repeat top right;
    }
}
